html{       
    width: 100%;
    min-height: 100%;
    position: relative;   
    margin: 0;
    padding: 0;        
}
body {
    font-family: Montserrat, sans-serif;    
    margin: 0;
    padding: 0;        
    margin-bottom: 200px;    
}
body>img{    
    position: fixed;
    z-index: -10;
    left: 40%;
    top: 10%;    
    opacity: 0.3;
}

.logoFederacion {
    width: 10%;
    max-height: calc(65px - 10px);
    max-width: 200px;
    min-width: 200px;
    min-height: calc(65px - 10px);
}

header img:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.02);
    opacity: 70%;
}

header {
    background-color: #fff;
    border-bottom: 2px solid #f3f6f9;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(243, 246, 249);
    color: #000;
    text-align: center;
}

nav {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

nav a {
    color: black;
    text-decoration: none;
}


.headernav {
    margin-right: 5em;
}

.headernav:hover {
    animation: navcolor 500ms;
    color: #4099f7;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.02);
}

.editButtons {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.editButtons>a>img {
    width: 400px;
}

.editButtons>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 5em;
}

.editButtons>a:hover {
    animation: editButtonscolor 500ms;
    color: #035ec0;    
    transition: transform 0.2s ease-in-out;
    transform: scale(1.02);
}

.tabbox {
    margin: auto;
    border-collapse: collapse;
    margin-top: 5em;

}

.tabbox>thead>tr>th {
    border: 2px solid;
    padding: 1em;
    border-spacing: 0px;
}

.tabbox>tbody>tr>td {
    border: 2px solid;
    padding: 1em;
    border-spacing: 0px;
}

.tabbox td {
    background-color: #cfe1f5;    
}
.tabbox tbody>tr:hover td{
    background-color: #a2c6f0;
    transition: 0.1s ease-in-out;
    color: #000;
    margin: 0;
}


.tabbox thead {
    background-color: #4099f7;
}

.dniInp {
    text-align: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: auto;
    margin-top: 1em;

}
.dniInp label{
    margin: 0.7em;
}

.dniInp button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
}
.dniInp button:hover{
    background-color: #222;
}
.boxerMenu {
    text-align: center;
    margin: auto;
    margin-top: 0;
    background-color: #333;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

.boxerMenu a {
    text-decoration: none;
    color: white;
    background-color: #333;

}

.boxerMenu a:hover {
    color: #4099f7;
}

.addBoxerForm {    
    margin: auto;
    margin-top: 1em;
    text-align: center;
    background-color: #4099f7;
    width: 300px;
    padding: 1em;
    border: 3px solid;   
    
}

.addBoxerForm button {
    background-color: #333;
    border: none;
    border-radius: 20px;
    padding: 0.7em;
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 1em;    
}
.addBoxerForm button:hover{
    background-color: #222;
}
.addBoxerForm h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.addBoxerForm input {
    border-radius: 10px;
    border: solid 1px;
    margin: 3px;
    padding: 0.5em;
}

.addBoxerForm label {
    color: black;
}
.addBoxerForm>input:hover{
    
    background-color: rgb(207, 231, 252);
    
}
.modifyForm {
    text-align: center;
}

.modifyForm button {
    margin: 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.6em;
    padding-left: 2em;
    padding-right: 2em;
}

.modifyForm button:hover {
    background-color: #222;
}
.success{
    margin-top: 2em;
    text-align: center;
    color: rgb(5, 88, 5);
    font-size: large;
}
.failed{
    margin-top: 2em;
    text-align: center;
    color: rgb(180, 16, 16);
    font-size: large;
}
.editInList{
    text-align: center;
    margin-top: 5em;
}
.editInList>a{    
    text-decoration: none;    
    background-color: #333;
    border-radius: 20px;
    color: white;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}
.editInList>a:hover{
    background-color: #222;
}
footer{    
    position: absolute;
    bottom: 0;    
    width: 100%;
    height: 200px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;  
    padding: 0.1em;    
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;    
}
footer p:first-child{
    font-weight: bolder;
    margin-bottom: 0;
    font-size: large;
}
footer a:last-child{
    margin-bottom: 10px;
}
footer a:hover{
    color: #4099f7;
}

/*Animations*/

@keyframes navcolor {
    0% {
        color: black;
    }

    100% {
        color: #4099f7;
    }
}
@keyframes editButtonscolor {
    0% {
        color: black;
    }

    100% {
        color: #035ec0;
    }
}